@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@400;600&display=swap");
@import "../../node_modules/normalize.css/normalize.css";
* {
  font-family: "Noto Serif Lao", serif;
}

nav {
  overflow: hidden;
  position: fixed !important;
  z-index: 2456456;
  top: 0;
  width: 100%;
  transition-duration: 0.3s;
}
nav.bg-dark .container-fluid .navbar-toggler {
  border: none;
  transform: rotateZ(180deg);
  font-size: 29px;
  box-shadow: none;
  color: white;
  margin-left: 5px;
}
nav.bg-dark .container-fluid .navbar-brand {
  color: #fff !important;
}
nav.bg-dark .container-fluid .navbar-collapse ul li a {
  color: white;
  opacity: 0.5;
}
nav.bg-dark .container-fluid .navbar-collapse ul li a:hover {
  opacity: 1;
}
nav.bg-dark .container-fluid .navbar-collapse ul li a.active {
  background-color: white !important;
  color: #333 !important;
}
nav .container-fluid .navbar-brand {
  font-family: "Climate Crisis", cursive;
  color: #333;
}
nav .container-fluid .navbar-toggler {
  border: none;
  transform: rotateZ(180deg);
  font-size: 29px;
  box-shadow: none;
}
nav .container-fluid .navbar-collapse.show ul {
  border-radius: 20px;
  background-color: #212529;
}
nav .container-fluid .navbar-collapse.show ul li {
  display: flex;
  justify-content: center;
  margin: 15px;
}
nav .container-fluid .navbar-collapse.show ul li a {
  font-size: 18px;
}
nav .container-fluid .navbar-collapse.show ul li a.active {
  font-size: 25px;
  color: white;
}
nav .container-fluid .navbar-collapse ul li {
  margin: 0 15px;
}
nav .container-fluid .navbar-collapse ul li a {
  font-size: 18px;
}
nav .container-fluid .navbar-collapse ul li a.active {
  font-size: 25px;
  background-color: #333;
  color: white;
  transition-duration: 0.4s;
}
nav .container-fluid .navbar-collapse ul li a span {
  display: none;
  margin: 0 10px;
  font-size: 15px;
  transition-duration: 0.3s;
}
nav .container-fluid .navbar-collapse ul li a:hover .signin {
  transition-duration: 0.3s;
  display: inline;
}
nav .container-fluid .navbar-collapse ul li a svg {
  font-size: 30px;
}

div.chat {
  position: absolute !important;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

div.container.home-page img.img-background {
  width: 99vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 70vh;
}
div.container.home-page div.container-usd {
  position: relative;
  top: 50vh;
  background-color: white;
  padding: 20px 15px 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  width: 50vw;
  transform: translateX(15%);
  margin-bottom: 50vh;
}
div.container.home-page div.container-usd > div {
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 15px 0;
}
div.container.home-page div.container-usd > div span.name-usd {
  margin: 0 10px;
}
div.container.home-page div.carousel.slide {
  position: relative;
  top: 50px;
}
@media (max-width: 990px) {
  div.container-usd {
    background-color: transparent !important;
    box-shadow: none !important;
    display: flex;
    justify-content: space-between;
  }
  div.container-usd > div {
    margin: 15px !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
  }
  div.container-usd > div img {
    width: 40px;
  }
  div.container-usd > div span.name-usd {
    margin: 0 10px;
    font-size: 15px;
  }
  div.container-usd > div span.number-used {
    font-size: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=globals.css.map */