@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@800&display=swap");
@import "../../node_modules/normalize.css/normalize.css";
* {
  font-family: "Noto Serif Lao", serif;
}

nav {
  overflow: hidden;
  position: fixed !important;
  z-index: 2456456;
  top: 0;
  width: 80%;
  margin: 20px auto;
  transform: translateX(15%);
  border-radius: 15px;
  padding: 10px 15px 5px 20px;
  transition-duration: 0.3s;
}
nav.bg-light {
  margin: 25px auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 15px 15px 5px 20px;
}
nav.bg-light .container-fluid .navbar-toggler {
  border: none;
  transform: rotateZ(180deg);
  font-size: 29px;
  box-shadow: none;
  color: white;
  margin-left: 5px;
}
nav.bg-light .container-fluid .navbar-brand {
  color: #333 !important;
}
nav.bg-light .container-fluid .navbar-collapse ul li a {
  color: #333;
  opacity: 0.5;
}
nav.bg-light .container-fluid .navbar-collapse ul li a:hover {
  opacity: 1;
}
nav.bg-light .container-fluid .navbar-collapse ul li a.active {
  background-color: #333 !important;
  color: white !important;
}
nav .container-fluid .navbar-brand {
  font-family: "Climate Crisis", cursive;
  color: #333;
}
nav .container-fluid .navbar-toggler {
  border: none;
  transform: rotateZ(180deg);
  font-size: 29px;
  box-shadow: none;
}
nav .container-fluid .navbar-collapse.show ul {
  border-radius: 20px;
}
nav .container-fluid .navbar-collapse.show ul li {
  display: flex;
  justify-content: center;
  margin: 15px;
}
nav .container-fluid .navbar-collapse.show ul li a {
  font-size: 18px;
}
nav .container-fluid .navbar-collapse.show ul li a.active {
  background-color: #fff;
  font-size: 25px;
  color: #333;
}
nav .container-fluid .navbar-collapse ul li {
  margin: 0 15px;
}
nav .container-fluid .navbar-collapse ul li a {
  font-size: 18px;
}
nav .container-fluid .navbar-collapse ul li a.active {
  font-size: 25px;
  background-color: #fff;
  color: #333;
  transition-duration: 0.4s;
}
nav .container-fluid .navbar-collapse ul li a span {
  display: none;
  margin: 0 10px;
  font-size: 15px;
  transition-duration: 0.3s;
}
nav .container-fluid .navbar-collapse ul li a:hover .signin {
  transition-duration: 0.3s;
  display: inline;
}
nav .container-fluid .navbar-collapse ul li a svg {
  font-size: 30px;
}

@media (max-width: 990px) {
  nav {
    box-shadow: none;
    width: 100%;
    margin: 0;
    transform: translateX(0);
    background-color: #fff;
  }
  nav .navbar-toggler {
    color: #333 !important;
  }
}
div.chat {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

div.container.home-page img.img-background {
  width: 99vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 70vh;
}
div.container.home-page div.container-usd {
  position: relative;
  top: 60vh;
  transition-duration: 1s;
  background-color: white;
  padding: 20px 15px 20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  width: 50vw;
  transform: translateX(25%);
  margin: 2em auto 50vh;
}
div.container.home-page div.container-usd > div {
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin: 2em 0;
}
div.container.home-page div.container-usd > div span.name-usd {
  margin: 0 1em;
}
div.container.home-page .carousel {
  position: relative;
  top: 10vw;
  margin-bottom: 20vh;
}
div.container.home-page .carousel h3 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  margin: 0 auto 2em;
  text-align: center;
  padding: 10px 25px;
  width: 100%;
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}
div.container.home-page .carousel .carousel-inner {
  border-radius: 15px;
}

div.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 2em;
  background-color: #273036;
}
div.footer div.about {
  background-color: #273036;
  position: relative;
}
div.footer div.about .animate__animated {
  text-align: center;
  margin: 0 0 20px;
  padding: 15px 0;
  font-size: 3em;
  font-weight: bold;
  color: white;
}
div.footer div.about .typing {
  font-family: "Almarai", sans-serif;
  left: 13%;
  color: white;
  font-size: 1em;
  font-weight: bold;
  position: relative;
  z-index: 235356;
  display: block;
  width: 50vw;
}
div.footer div.contact {
  width: 40vw;
}
div.footer div.contact .animate__animated {
  text-align: center;
  margin: 0 auto 20px;
  padding: 15px 0;
  font-size: 2em;
  font-weight: bold;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
}
div.footer div.contact .icon {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
div.footer div.contact .icon a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
div.footer div.contact .icon a svg {
  padding: 0.5em;
  color: white;
  cursor: pointer;
  font-size: 2em;
}

@media (max-width: 990px) {
  div.container-usd {
    transform: translateX(0%) !important;
    box-shadow: none !important;
    display: flex;
    transition-duration: 1s;
    margin: 0 auto 70vh !important;
    flex-wrap: wrap;
    width: 100% !important;
    justify-content: space-between;
  }
  div.container-usd > div {
    margin: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    width: 40%;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
  }
  div.container-usd > div img {
    width: 40px;
  }
  div.container-usd > div span.name-usd {
    margin: 0 10px;
    font-size: 1.5em;
  }
  div.container-usd > div span.number-used {
    font-size: 1.5em;
  }
  .carousel {
    top: -30px !important;
  }
}
@media (max-width: 800px) {
  img {
    width: 20%;
  }
  span.name-usd {
    margin: 0 5px;
    font-size: 0.5em;
  }
  span.number-used {
    font-size: 0.5em;
  }
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=globals.css.map */