@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@800&display=swap");
.img {
  position: relative;
  width: 99vw;
  height: 80vh;
  overflow: hidden;
  z-index: -3461;
  img.img-background {
    width: 99vw;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    height: 70vh;
    animation: kenburns-top 5s ease-out both;
  }
}
div.container.home-page {
  width: 100vw;
  position: relative;

  div.container-usd {
    position: relative;
    bottom: 20vh;
    transition-duration: 1s;
    background-color: white;
    padding: 20px 15px 20px;
    z-index: 345456;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    width: 50vw;
    transform: translateX(25%);
    margin: 2em auto 50vh;
    > div {
      align-items: center;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-size: 1em;
      margin: 2em 0;
      span.name-usd {
        margin: 0 1em;
      }
      span.number-used {
      }
    }
  }
  .carousel {
    position: relative;
    bottom: 20vw;
    margin-bottom: 20vh;
    h3 {
      text-transform: uppercase;
      font-size: 3em;
      font-weight: bold;
      margin: 0 auto 2em;
      text-align: center;
      padding: 10px 25px;
      width: 100%;

      background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      display: inline-block;
    }
    .carousel-inner {
      border-radius: 15px;
    }
  }
}
div.footer {
  height: 25em;
  display: flex;
  height: fit-content;
  justify-content: space-between;
  position: relative;
  top: 2em;
  background-color: #6c8ea4;
  div.about {
    background-color: #6c8ea4;
    height: fit-content;
    position: relative;
    width: fit-content;
    .animate__animated {
      text-align: center;
      margin: 0 0 20px;
      padding: 15px 0;
      font-size: 3em;
      font-weight: bold;
      color: white;
    }

    .typing {
      font-family: "Almarai", sans-serif;
      left: 13%;
      color: white;
      font-size: 1em;
      font-weight: bold;
      position: relative;
      z-index: 235356;
      display: block;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      width: 50%;
      background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
    }
  }
  div.contact {
    width: 40vw;
    .animate__animated {
      text-align: center;
      margin: 0 auto 20px;
      padding: 15px 0;
      font-size: 2em;
      font-weight: bold;
      color: white;
      width: fit-content;
    }
    .icon {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      a {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        svg {
          padding: 0.5em;
          color: white;
          cursor: pointer;
          font-size: 2em;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  div.container-usd {
    transform: translateX(0%) !important;
    box-shadow: none !important;
    display: flex;
    transition-duration: 1s;
    margin: 0 auto 70vh !important;
    flex-wrap: wrap;

    width: 100% !important;

    justify-content: space-between;
    > div {
      margin: 10px !important;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
      width: 40%;
      border-radius: 15px;
      background-color: white;
      padding: 10px;
      img {
        width: 40px;
      }
      span.name-usd {
        margin: 0 10px;
        font-size: 1.5em;
      }
      span.number-used {
        font-size: 1.5em;
      }
    }
  }
  .carousel {
    top: -30px !important;
  }

  div.footer {
    .typing {
      font-size: 0.7em !important;
      line-height: 1.5em;
    }
  }
  div.contact {
    .icon {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      a {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        svg {
          padding: 0.5em;
          color: white;
          cursor: pointer;
          font-size: 1.5em !important;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  img {
    width: 20%;
  }
  span.name-usd {
    margin: 0 5px;
    font-size: 0.5em;
  }
  span.number-used {
    font-size: 0.5em;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}
